.header-1-child10 {
  height: 69px;
  width: 1530px;
  position: relative;
  background-color: var(--color-darkslategray-100);
  display: none;
  max-width: 100%;
  z-index: 1;
}
.navigation-area-child {
  height: 35px;
  width: 115.8px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-steelblue-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.about11 {
  flex: 1;
  position: relative;
  text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
  z-index: 2;
}
.navigation-area1 {
  width: 116.8px;
  border-radius: var(--br-31xl);
  background-color: var(--color-steelblue-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-7xs) 0 var(--padding-7xs) var(--padding-11xl);
  z-index: 1;
}
.navigation-tabs {
  width: 186.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation-tabs-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-steelblue-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 115.8px;
  height: 35px;
  z-index: 1;
}
.contact-us12 {
  position: absolute;
  top: 8px;
  left: 13.7px;
  display: inline-block;
  width: 173.2px;
  text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
  white-space: nowrap;
  z-index: 2;
}
.navigation-tabs1 {
  height: 35px;
  width: 186.9px;
  position: relative;
  margin-left: -43.5px;
}
.navigation-tabs-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  width: 115.8px;
  height: 35px;
  z-index: 1;
}
.location11 {
  position: absolute;
  top: 8px;
  left: 24.4px;
  display: inline-block;
  width: 119.1px;
  text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
  z-index: 2;
}
.navigation-tabs2 {
  height: 35px;
  width: 187px;
  position: relative;
  margin-left: -43.5px;
  color: var(--color-snow-100);
}
.navigation-tabs-inner {
  height: 35px;
  width: 115.8px;
  position: relative;
  border-radius: var(--br-31xl);
  display: none;
}
.login14 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--body-text);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
  min-width: 44.6px;
  z-index: 2;
}
.navigation-tabs3 {
  cursor: pointer;
  border: 0 solid var(--color-black);
  padding: var(--padding-5xs) var(--padding-16xl-1) var(--padding-5xs)
    var(--padding-17xl-1);
  background-color: var(--color-steelblue-200);
  border-radius: var(--br-31xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
  margin-left: -43.5px;
}
.navigation-tabs3:hover {
  background-color: var(--color-steelblue-100);
  border: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
}
.header-111,
.header-2-child9 {
  box-sizing: border-box;
  max-width: 100%;
}
.header-111 {
  align-self: stretch;
  background-color: var(--color-darkslategray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-mid) var(--padding-sm-8);
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--body-text);
}
.header-2-child9 {
  height: 96px;
  width: 1530px;
  position: relative;
  background-color: var(--color-silver-200);
  border: 1px solid var(--color-cornflowerblue);
  display: none;
}
.accountbalancerounded-icon11 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 1;
}
.logo-area2 {
  align-self: stretch;
  width: 98.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs-2);
  box-sizing: border-box;
}
.title-container-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 233.8px;
  height: 44px;
  z-index: 1;
}
.digi-bank22 {
  margin: 0;
  position: absolute;
  top: 6px;
  left: 51px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 183.8px;
  height: 53px;
  text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
  z-index: 2;
}
.title-container {
  height: 59px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.title-bar {
  height: 75px;
  width: 341px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs-4);
  max-width: 100%;
}
.services-tab-child {
  height: 42px;
  width: 155.1px;
  position: relative;
  border-radius: var(--br-31xl);
  background: linear-gradient(90deg, #335b80, #0a121a);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.services14 {
  height: 31.2px;
  flex: 1;
  position: relative;
  display: inline-block;
  text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
  z-index: 2;
}
.left-navigation,
.services-tab {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.services-tab {
  align-self: stretch;
  border-radius: var(--br-31xl);
  background: linear-gradient(90deg, #335b80, #0a121a);
  border: 1px solid var(--color-black);
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-12xs) 0 var(--padding-12xl);
  z-index: 1;
}
.left-navigation {
  width: 171.1px;
  flex-direction: column;
  padding: 0 var(--padding-base) 0 0;
  box-sizing: border-box;
}
.left-navigation-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  width: 155.1px;
  height: 42px;
  z-index: 1;
}
.resources22 {
  position: absolute;
  top: 9px;
  left: 23.4px;
  display: inline-block;
  width: 147.7px;
  height: 31.2px;
  text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
  z-index: 2;
}
.left-navigation1 {
  height: 42px;
  width: 171.1px;
  position: relative;
}
.right-navigation-child {
  height: 44px;
  width: 316.6px;
  position: relative;
  border-radius: var(--br-3xs);
  display: none;
}
.customer-support12 {
  width: 278.4px;
  height: 31.2px;
  position: relative;
  font-size: var(--body-text-size);
  font-family: var(--body-text);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
  z-index: 2;
}
.customer-support-area {
  width: 206.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.viberwhite-icon11 {
  height: 35px;
  width: 37.2px;
  position: relative;
  object-fit: cover;
  min-height: 35px;
  z-index: 2;
}
.navigation-items6,
.right-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.right-navigation {
  cursor: pointer;
  border: 0 solid var(--color-gray-400);
  padding: var(--padding-8xs) var(--padding-16xl) var(--padding-9xs-8)
    var(--padding-19xl-2);
  background-color: transparent;
  flex: 1;
  border-radius: var(--br-3xs);
  background: linear-gradient(90deg, #335b80, #0a121a);
  box-sizing: border-box;
  min-width: 206px;
  z-index: 1;
}
.navigation-items6 {
  align-self: stretch;
  gap: var(--gap-3xl-3);
}
.content-area,
.header-211,
.main-navigation2 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.main-navigation2 {
  width: 703.4px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-mini);
  font-size: var(--body-text-size);
}
.content-area,
.header-211 {
  flex-direction: row;
}
.header-211 {
  flex: 1;
  background-color: var(--color-silver-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-cornflowerblue);
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-lgi) var(--padding-6xs)
    var(--padding-xs-7);
  gap: var(--gap-xl);
}
.content-area {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-54xl);
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--body-text);
}
.form14,
.headline {
  width: 245px;
  height: 64px;
  display: none;
}
.headline {
  width: 430px;
  height: 59px;
  max-width: 100%;
}
.add-staff-member {
  margin: 0;
  width: 624px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.form-title-area {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-5xl);
  box-sizing: border-box;
  max-width: 100%;
}
.first-name2,
.label19 {
  font-weight: 500;
  position: relative;
  line-height: 150%;
}
.first-name2 {
  align-self: stretch;
}
.label19 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--body-text);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 24px;
  flex: 1;
  color: var(--color-gray-700);
  text-align: left;
  display: inline-block;
  min-width: 140px;
  padding: 0;
}
.field20 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--color-gainsboro-400);
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-mini) var(--padding-11xs);
}
.field20,
.first-name-field,
.form15,
.input7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input7 {
  height: 68px;
  width: 265px;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.first-name-field,
.form15 {
  flex-direction: row;
}
.form15 {
  height: 65px;
  width: 246px;
  flex-wrap: wrap;
  padding: 0;
  box-sizing: border-box;
}
.first-name-field {
  padding: 0 var(--padding-10xs);
}
.gender1,
.label20 {
  font-weight: 500;
  position: relative;
  line-height: 150%;
}
.gender1 {
  align-self: stretch;
}
.label20 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--body-text);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 24px;
  flex: 1;
  color: var(--color-gray-700);
  text-align: left;
  display: inline-block;
  min-width: 158px;
  padding: 0;
}
.field21,
.input8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.field21 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--color-gainsboro-400);
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-mini) var(--padding-11xs);
}
.input8 {
  height: 40px;
  width: 295px;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.form18 {
  padding: 0 var(--padding-21xl) var(--padding-25xl) 0;
  max-width: 100%;
}
.form16,
.form17,
.form18 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.form17 {
  height: 20px;
  padding: 0;
  max-width: 100%;
}
.form16 {
  width: 231px;
  padding: 0 0 var(--padding-26xl) 0;
}
.email-address2 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.first-name-label-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 52.5px;
  max-width: 100%;
}
.label21,
.last-name2 {
  width: 204px;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
}
.label21 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--body-text);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 24px;
  flex: 1;
  color: var(--color-gray-700);
  text-align: left;
  min-width: 140px;
  padding: 0;
}
.age-area,
.field22 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.field22 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--color-gainsboro-400);
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-mini) var(--padding-11xs);
}
.age-area {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.age1,
.label22 {
  font-weight: 500;
  position: relative;
  line-height: 150%;
}
.age1 {
  align-self: stretch;
}
.label22 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--body-text);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 24px;
  flex: 1;
  color: var(--color-gray-700);
  text-align: left;
  display: inline-block;
  min-width: 103px;
  padding: 0;
}
.field23 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--color-gainsboro-400);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-mini) var(--padding-11xs);
}
.age-area1 {
  width: 203px;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.age-area1,
.age-input,
.first-name-area {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.age-input {
  width: 265px;
  flex-direction: column;
  gap: var(--gap-26xl);
  margin-left: -93px;
}
.first-name-area {
  align-self: stretch;
  flex-direction: row;
  max-width: 100%;
}
.label23 {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--body-text);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 24px;
  flex: 1;
  position: relative;
  line-height: 150%;
  color: var(--color-gray-700);
  text-align: left;
  display: inline-block;
  min-width: 240px;
  white-space: nowrap;
  max-width: 100%;
  padding: 0;
}
.field24,
.first-name-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.field24 {
  width: 432px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--color-gainsboro-400);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-mini) var(--padding-10xs);
  z-index: 2;
}
.first-name-input {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.label24,
.phone2 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 49px;
}
.label24 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--body-text);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 24px;
  flex: 1;
  color: var(--color-gray-700);
  text-align: left;
  min-width: 135px;
  padding: 0;
}
.field25,
.phone-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.field25 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--color-gainsboro-400);
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-mini) var(--padding-11xs);
}
.phone-input {
  width: 257px;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.username1 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.jane12341 {
  margin: 0;
}
.label25 {
  height: 48px;
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
}
.field26 {
  align-self: stretch;
  height: 40px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--color-gainsboro-400);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-mini) 0;
  color: var(--color-gray-700);
}
.field26,
.form19,
.input9,
.username-field {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input9 {
  width: 295px;
  flex-direction: column;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.form19,
.username-field {
  flex-direction: row;
}
.form19 {
  height: 65px;
  width: 231px;
  flex-wrap: wrap;
  padding: 0;
  box-sizing: border-box;
}
.username-field {
  padding: 0 var(--padding-11xs);
}
.designation {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.username-input-box-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-36xl);
  max-width: 100%;
}
.label26,
.password1 {
  font-weight: 500;
  position: relative;
  line-height: 150%;
}
.password1 {
  align-self: stretch;
}
.label26 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--body-text);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 24px;
  flex: 1;
  color: var(--color-gray-700);
  text-align: left;
  display: inline-block;
  min-width: 103px;
  padding: 0;
}
.field27 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--color-gainsboro-400);
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-mini) var(--padding-11xs);
}
.field27,
.password-input-area,
.username-input-area {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.password-input-area {
  width: 204px;
  flex-direction: column;
  gap: var(--gap-5xs);
  margin-left: -90px;
}
.username-input-area {
  align-self: stretch;
  flex-direction: row;
  max-width: 100%;
}
.label27 {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--body-text);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 24px;
  flex: 1;
  position: relative;
  line-height: 150%;
  color: var(--color-gray-700);
  text-align: left;
  display: inline-block;
  min-width: 239px;
  max-width: 100%;
  padding: 0;
}
.credentials-input,
.field28,
.name-inputs {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.field28 {
  width: 431px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--color-gainsboro-400);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-mini) var(--padding-10xs);
}
.credentials-input,
.name-inputs {
  width: 545px;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.name-inputs {
  width: 604px;
  gap: var(--gap-27xl);
  min-width: 604px;
}
.users-icon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.add {
  position: relative;
  font-size: var(--body-text-size);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--body-text);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 39px;
}
.add-button-area,
.button6, .button7 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    max-width: 100%;
}
.button6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--color-black);
  width: 228px;
  border-radius: var(--br-11xl);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  color:white;
  font-size:20px;
}
.button6:hover {
  background-color: var(--color-darkslategray-200);
}

.button7 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-black);
    width: 128px;
    height: 40px;
    border-radius: var(--br-11xl);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    color: white;
    font-size: 15px;
    margin-top: 10px;
}

    .button7:hover {
        background-color: var(--color-darkslategray-200);
    }

.add-button-area {
  width: 616px;
  padding: 0 var(--padding-xl);
}
.users-button-area {
  align-self: stretch;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-145xl);
  max-width: 100%;
}
.action-area,
.input-fields {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.action-area {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-11xl) 0 0;
  box-sizing: border-box;
  min-width: 410px;
}
.input-fields {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-132xl);
  text-align: left;
  font-size: var(--font-size-base);
}
.form-header1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  max-width: 100%;
}
.form-container1 {
  width: 1500px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-38xl) var(--padding-47xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--body-text);
}
.items11 {
  width: 187px;
  height: 24px;
  display: none;
}
.divider-icon11 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.digi-bank23 {
  margin: 0;
  width: 154px;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.business11 {
  flex: 1;
  display: inline-block;
  min-width: 141px;
}
.business11,
.resources23 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 38px;
  font-weight: 700;
  font-family: inherit;
}
.resources-area1 {
  flex: 0.8936;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  min-width: 141px;
}
.personal11 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 38px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 141px;
}
.navigation-type {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-27xl);
}
.navigation-links12 {
  width: 654px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-6xl);
}
.bank-info {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.icon-placeholders,
.instagram-icon11,
.linkedin-icon11,
.youtube-icon11 {
  height: 48px;
  width: 48px;
  position: relative;
  min-height: 48px;
}
.instagram-icon11,
.linkedin-icon11,
.youtube-icon11 {
  object-fit: cover;
}
.social-icons-area1,
.social-media-icons3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-media-icons3 {
  flex-direction: row;
  gap: var(--gap-base);
}
.social-icons-area1 {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.overview33,
.overview34,
.overview35 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  text-shadow: 1px 0 0 rgba(158, 158, 158, 0.25),
    0 1px 0 rgba(158, 158, 158, 0.25), -1px 0 0 rgba(158, 158, 158, 0.25),
    0-1px 0 rgba(158, 158, 158, 0.25);
  min-width: 85px;
}
.overview34,
.overview35 {
  text-shadow: 1px 0 0 rgba(153, 132, 132, 0.25),
    0 1px 0 rgba(153, 132, 132, 0.25), -1px 0 0 rgba(153, 132, 132, 0.25),
    0-1px 0 rgba(153, 132, 132, 0.25);
}
.overview35 {
  text-shadow: 1px 0 0 rgba(136, 118, 118, 0.25),
    0 1px 0 rgba(136, 118, 118, 0.25), -1px 0 0 rgba(136, 118, 118, 0.25),
    0-1px 0 rgba(136, 118, 118, 0.25);
}
.overview-links2,
.social-links5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.overview-links2 {
  width: 654px;
  justify-content: flex-start;
  gap: var(--gap-27xl-5);
}
.social-links5 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.management33 {
  text-shadow: 1px 0 0 rgba(153, 145, 145, 0.25),
    0 1px 0 rgba(153, 145, 145, 0.25), -1px 0 0 rgba(153, 145, 145, 0.25),
    0-1px 0 rgba(153, 145, 145, 0.25);
}
.management33,
.management34,
.management35 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 118px;
}
.management34 {
  color: var(--color-whitesmoke);
  text-shadow: 1px 0 0 rgba(193, 176, 176, 0.25),
    0 1px 0 rgba(193, 176, 176, 0.25), -1px 0 0 rgba(193, 176, 176, 0.25),
    0-1px 0 rgba(193, 176, 176, 0.25);
}
.management35 {
  text-shadow: 1px 0 0 rgba(147, 132, 132, 0.25),
    0 1px 0 rgba(147, 132, 132, 0.25), -1px 0 0 rgba(147, 132, 132, 0.25),
    0-1px 0 rgba(147, 132, 132, 0.25);
}
.management-labels {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-27xl-5);
}
.savings33,
.savings34,
.savings35 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  text-shadow: 1px 0 0 rgba(159, 138, 138, 0.25),
    0 1px 0 rgba(159, 138, 138, 0.25), -1px 0 0 rgba(159, 138, 138, 0.25),
    0-1px 0 rgba(159, 138, 138, 0.25);
  min-width: 70px;
}
.savings34,
.savings35 {
  text-shadow: 1px 0 0 rgba(142, 125, 125, 0.25),
    0 1px 0 rgba(142, 125, 125, 0.25), -1px 0 0 rgba(142, 125, 125, 0.25),
    0-1px 0 rgba(142, 125, 125, 0.25);
}
.savings35 {
  text-shadow: 1px 0 0 rgba(137, 118, 118, 0.25),
    0 1px 0 rgba(137, 118, 118, 0.25), -1px 0 0 rgba(137, 118, 118, 0.25),
    0-1px 0 rgba(137, 118, 118, 0.25);
}
.management-labels1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-27xl-5);
}
.info-area,
.management-links,
.social-area1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.management-links {
  width: 654px;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.info-area,
.social-area1 {
  align-items: flex-end;
}
.social-area1 {
  align-self: stretch;
  gap: var(--gap-4xs);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--body-text);
}
.info-area {
  flex: 1;
  gap: var(--gap-4xl);
}
.footer-content7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-3xs-5) 0 var(--padding-lg);
  box-sizing: border-box;
  max-width: 100%;
}
.add-bank-staff,
.navigation-footer11 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.navigation-footer11 {
  align-self: stretch;
  background-color: var(--color-darkslateblue);
  padding: var(--padding-12xs-5) var(--padding-43xl-5) var(--padding-18xl)
    var(--padding-41xl);
  box-sizing: border-box;
  gap: var(--gap-10xl-5);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--body-text);
}
.add-bank-staff {
  width: 100%;
  position: relative;
  background: linear-gradient(174.44deg, #4575ad, #173e6c);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .header-211 {
    flex-wrap: wrap;
  }
  .name-inputs {
    flex: 1;
  }
  .input-fields {
    flex-wrap: wrap;
    gap: var(--gap-56xl);
  }
  .form-container1 {
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .add-staff-member {
    font-size: var(--font-size-32xl);
  }
  .form-container1 {
    padding-bottom: var(--padding-24xl);
    box-sizing: border-box;
  }
  .bank-info,
  .social-links5 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .header-111 {
    display: none;
  }
  .navigation-items6 {
    flex-wrap: wrap;
  }
  .name-inputs {
    gap: var(--gap-4xl);
    min-width: 100%;
  }
  .users-button-area {
    gap: var(--gap-63xl);
  }
  .action-area {
    min-width: 100%;
  }
  .input-fields {
    gap: var(--gap-19xl);
  }
  .form-header1 {
    gap: var(--gap-6xl);
  }
  .form-container1 {
    padding-bottom: var(--padding-9xl);
    box-sizing: border-box;
  }
  .navigation-type,
  .overview-links2 {
    flex-wrap: wrap;
    gap: var(--gap-4xl);
  }
  .management-labels,
  .management-labels1 {
    gap: var(--gap-4xl);
  }
  .navigation-footer11 {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .digi-bank22 {
    font-size: var(--body-text-size);
  }
  .customer-support12,
  .resources22,
  .services14 {
    font-size: var(--font-size-base);
  }
  .add-staff-member {
    font-size: var(--font-size-19xl);
  }
  .first-name-label-area {
    gap: var(--gap-7xl);
  }
  .age-input {
    gap: var(--gap-3xl);
  }
  .username-input-box-area {
    gap: var(--gap-8xl);
  }
  .add {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .users-button-area {
    gap: var(--gap-22xl);
  }
  .input-fields {
    gap: var(--gap-lgi);
  }
  .digi-bank23 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .business11,
  .resources23 {
    font-size: var(--body-text-size);
    line-height: 30px;
  }
  .resources-area1 {
    flex: 1;
  }
  .personal11 {
    font-size: var(--body-text-size);
    line-height: 30px;
  }
  .management33,
  .management34,
  .management35,
  .overview33,
  .overview34,
  .overview35,
  .savings33,
  .savings34,
  .savings35 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
}

.dropdownstyle {
    width: 250px; /* Adjust width as needed */
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
}

    /* Style for dropdown list options */
    .dropdownstyle option {
        padding: 5px;
    }

        /* Style for dropdown list hover */
        .dropdownstyle option:hover {
            background-color: #f0f0f0;
        }