.header-6-child {
  height: 69px;
  width: 1530px;
  position: relative;
  background-color: var(--color-darkslategray-100);
  display: none;
  max-width: 100%;
  z-index: 1;
}
.navigation-menu-child {
  height: 35px;
  width: 115.8px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-steelblue-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.about27 {
  flex: 1;
  position: relative;
  text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
  z-index: 2;
}
.navigation-menu3 {
  width: 116.8px;
  border-radius: var(--br-31xl);
  background-color: var(--color-steelblue-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-7xs) 0 var(--padding-7xs) var(--padding-11xl);
  z-index: 1;
}
.header-options3 {
  width: 186.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.header-options-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-steelblue-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 115.8px;
  height: 35px;
  z-index: 1;
}
.contact-us28 {
  position: absolute;
  top: 8px;
  left: 13.7px;
  display: inline-block;
  width: 173.2px;
  text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
  white-space: nowrap;
  z-index: 2;
}
.header-options4 {
  height: 35px;
  width: 186.9px;
  position: relative;
  margin-left: -43.5px;
}
.header-options-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  width: 115.8px;
  height: 35px;
  z-index: 1;
}
.location27 {
  position: absolute;
  top: 8px;
  left: 24.4px;
  display: inline-block;
  width: 119.1px;
  text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
  z-index: 2;
}
.header-options5 {
  height: 35px;
  width: 187px;
  position: relative;
  margin-left: -43.5px;
  color: var(--color-snow-100);
}
.header-options-child1 {
  height: 35px;
  width: 115.8px;
  position: relative;
  border-radius: var(--br-31xl);
  display: none;
}
.login30 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--body-text);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
  min-width: 44.6px;
  z-index: 2;
}
.header-options6 {
  cursor: pointer;
  border: 0 solid var(--color-black);
  padding: var(--padding-5xs) var(--padding-16xl-1) var(--padding-5xs)
    var(--padding-17xl-1);
  background-color: var(--color-steelblue-200);
  border-radius: var(--br-31xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
  margin-left: -43.5px;
}
.header-options6:hover {
  background-color: var(--color-steelblue-100);
  border: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
}
.header-5-child,
.header-6 {
  box-sizing: border-box;
  max-width: 100%;
}
.header-6 {
  align-self: stretch;
  background-color: var(--color-darkslategray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-mid) var(--padding-sm-8);
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--body-text);
}
.header-5-child {
  height: 96px;
  width: 1530px;
  position: relative;
  background-color: var(--color-silver-200);
  border: 1px solid var(--color-cornflowerblue);
  display: none;
}
.accountbalancerounded-icon27 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.account-balance3 {
  align-self: stretch;
  width: 98.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs-2);
  box-sizing: border-box;
}
.brand-name-area-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 233.8px;
  height: 44px;
  z-index: 1;
}
.digi-bank54 {
  position: absolute;
  top: 6px;
  left: 51px;
  display: inline-block;
  width: 183.8px;
  height: 53px;
  text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
  z-index: 2;
}
.brand-name-area1 {
  height: 59px;
  flex: 1;
  position: relative;
}
.brand-logo-area {
  height: 75px;
  width: 341px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs-4);
  max-width: 100%;
}
.frame-child97 {
  height: 42px;
  width: 155.1px;
  position: relative;
  border-radius: var(--br-31xl);
  background: linear-gradient(90deg, #335b80, #0a121a);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.services30 {
  height: 31.2px;
  flex: 1;
  position: relative;
  display: inline-block;
  text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
  z-index: 2;
}
.frame-wrapper26,
.rectangle-parent39 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent39 {
  align-self: stretch;
  border-radius: var(--br-31xl);
  background: linear-gradient(90deg, #335b80, #0a121a);
  border: 1px solid var(--color-black);
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-12xs) 0 var(--padding-12xl-9);
  z-index: 1;
}
.frame-wrapper26 {
  width: 171.1px;
  flex-direction: column;
  padding: 0 var(--padding-base) 0 0;
  box-sizing: border-box;
}
.frame-child98 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  width: 155.1px;
  height: 42px;
  z-index: 1;
}
.resources54 {
  position: absolute;
  top: 9px;
  left: 23.4px;
  display: inline-block;
  width: 147.7px;
  height: 31.2px;
  text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
  z-index: 2;
}
.frame-child99,
.vector-parent48 {
  height: 42px;
  width: 171.1px;
  position: relative;
}
.frame-child99 {
  height: 44px;
  width: 316.6px;
  border-radius: var(--br-3xs);
  display: none;
}
.customer-support28 {
  width: 278.4px;
  height: 31.2px;
  position: relative;
  font-size: var(--body-text-size);
  font-family: var(--body-text);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
  z-index: 2;
}
.customer-support-wrapper15 {
  width: 206.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.viberwhite-icon27 {
  height: 35px;
  width: 37.2px;
  position: relative;
  object-fit: cover;
  min-height: 35px;
  z-index: 2;
}
.frame-parent61,
.vector-parent49 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-parent49 {
  cursor: pointer;
  border: 0 solid var(--color-gray-400);
  padding: var(--padding-8xs) var(--padding-16xl-1) var(--padding-9xs-8)
    var(--padding-19xl-2);
  background-color: transparent;
  flex: 1;
  border-radius: var(--br-3xs);
  background: linear-gradient(90deg, #335b80, #0a121a);
  box-sizing: border-box;
  min-width: 206px;
  z-index: 1;
}
.frame-parent61 {
  align-self: stretch;
  gap: var(--gap-3xl-3);
}
.header-5,
.main-menu1 {
  box-sizing: border-box;
  display: flex;
  max-width: 100%;
}
.main-menu1 {
  width: 703.4px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-mini);
  font-size: var(--body-text-size);
}
.header-5 {
  align-self: stretch;
  background-color: var(--color-silver-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-cornflowerblue);
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-lgi) var(--padding-6xs)
    var(--padding-xs-7);
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--body-text);
}
.welcome-icon3 {
  height: 374px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.rectangle-do9,
.welcome-banner2 {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.welcome-banner2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-69xl);
}
.rectangle-do9 {
  width: 1362px;
  position: relative;
  background: linear-gradient(232.65deg, #b5b8b9, #585a5a);
  border: 1px solid var(--color-black);
  display: none;
}
.depositeimage-icon1 {
  height: 257.8px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 443px;
  z-index: 1;
}
.boost-your-financial,
.loans4 {
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.loans4 {
  margin: 0;
  width: 597.8px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  text-shadow: 1px 0 0#274670, 0 1px 0#274670, -1px 0 0#274670, 0-1px 0#274670;
}
.boost-your-financial {
  height: 68.9px;
  width: 532px;
  font-weight: 500;
  flex-shrink: 0;
  text-shadow: 1px 0 0 rgba(254, 242, 242, 0.25),
    0 1px 0 rgba(254, 242, 242, 0.25), -1px 0 0 rgba(254, 242, 242, 0.25),
    0-1px 0 rgba(254, 242, 242, 0.25);
}
.product-benefits {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: justify;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
}
.apply-now {
  position: relative;
  font-size: var(--font-size-15xl);
  font-family: var(--body-text);
  color: var(--color-white);
  text-align: center;
  text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
}
.addclientbutton5 {
  cursor: pointer;
  border: 1px solid var(--color-gray-400);
  padding: var(--padding-6xs) var(--padding-31xl);
  background-color: var(--color-gray-300);
  flex: 1;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 179px;
  white-space: nowrap;
  z-index: 2;
  color: white;
  font-size: 30px;
}
.addclientbutton5:hover,
.addclientbutton6:hover,
.addclientbutton7:hover,
.addclientbutton8:hover {
  background-color: var(--color-dimgray-100);
  border: 1px solid var(--color-darkslategray-300);
  box-sizing: border-box;
}
.see-now4 {
  position: relative;
  font-size: var(--font-size-15xl);
  font-family: var(--body-text);
  color: var(--color-white);
  text-align: center;
  text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
}
.addclientbutton6,
.product-actions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.addclientbutton6 {
  cursor: pointer;
  border: 1px solid var(--color-gray-400);
  padding: var(--padding-6xs) var(--padding-46xl);
  background-color: var(--color-gray-300);
  flex: 0.8276;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  overflow: hidden;
  min-width: 179px;
  white-space: nowrap;
  z-index: 2;
}
.product-actions {
  align-self: stretch;
  gap: var(--gap-39xl);
}
.product-descriptions,
.product-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.product-descriptions {
  align-self: stretch;
  align-items: flex-end;
  gap: 16.6px;
}
.product-details {
  width: 610px;
  align-items: flex-start;
  padding: var(--padding-mini) 0 0;
  box-sizing: border-box;
  min-width: 610px;
}
.loan,
.rectangle-do10 {
  align-self: stretch;
  background: linear-gradient(232.65deg, #b5b8b9, #585a5a);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  max-width: 100%;
}
.loan {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xl) 0 0;
  gap: var(--gap-19xl);
}
.rectangle-do10 {
  width: 1362px;
  position: relative;
  display: none;
}
.cardimage-icon {
  height: 257.8px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 443px;
  z-index: 1;
}
.debit-card1,
.simply-click-on {
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.debit-card1 {
  margin: 0;
  width: 597.8px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  text-shadow: 1px 0 0#274670, 0 1px 0#274670, -1px 0 0#274670, 0-1px 0#274670;
}
.simply-click-on {
  height: 68.9px;
  width: 532px;
  font-weight: 500;
  flex-shrink: 0;
  text-shadow: 1px 0 0 rgba(254, 242, 242, 0.25),
    0 1px 0 rgba(254, 242, 242, 0.25), -1px 0 0 rgba(254, 242, 242, 0.25),
    0-1px 0 rgba(254, 242, 242, 0.25);
}
.simply-click-on-the-button-bel-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: justify;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
}
.apply-now1 {
  position: relative;
  font-size: var(--font-size-15xl);
  font-family: var(--body-text);
  color: var(--color-white);
  text-align: center;
  text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
}
.addclientbutton7 {
  cursor: pointer;
  border: 1px solid var(--color-gray-400);
  padding: var(--padding-6xs) var(--padding-31xl);
  background-color: var(--color-gray-300);
  flex: 1;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 179px;
  white-space: nowrap;
  z-index: 2;
}
.see-now5 {
  position: relative;
  font-size: var(--font-size-15xl);
  font-family: var(--body-text);
  color: var(--color-white);
  text-align: center;
  text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
}
.addclientbutton8 {
  cursor: pointer;
  border: 1px solid var(--color-gray-400);
  padding: var(--padding-6xs) var(--padding-46xl);
  background-color: var(--color-gray-300);
  flex: 0.8276;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 179px;
  white-space: nowrap;
  z-index: 2;
}
.addclientbutton-group,
.debit-card-parent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.addclientbutton-group {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-39xl);
}
.debit-card-parent {
  flex-direction: column;
  align-items: flex-end;
  gap: 18.1px;
  max-width: 100%;
}
.debitcard-inner,
.debitcard2 {
  box-sizing: border-box;
  justify-content: flex-start;
}
.debitcard-inner {
  width: 610px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-sm) 0 0;
  min-width: 610px;
  max-width: 100%;
}
.debitcard2 {
  align-self: stretch;
  background: linear-gradient(232.65deg, #b5b8b9, #585a5a);
  border: 1px solid var(--color-black);
  flex-direction: row;
  padding: 0 var(--padding-12xl) 0 0;
  gap: var(--gap-19xl);
}
.debitcard2,
.features-overview,
.financial-products {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.financial-products {
  width: 1362px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 88.2px;
}
.features-overview {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-69xl-2) var(--padding-9xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-26xl);
  color: var(--color-gray-800);
  font-family: var(--body-text);
}
.items27 {
  width: 187px;
  height: 24px;
  display: none;
}
.divider-icon27 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.digi-bank55 {
  width: 154px;
  position: relative;
  line-height: 150%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.business27 {
  flex: 1;
  display: inline-block;
  min-width: 141px;
}
.business27,
.resources55 {
  position: relative;
  line-height: 38px;
}
.resource-footer {
  flex: 0.8936;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  min-width: 141px;
}
.personal27 {
  flex: 1;
  position: relative;
  line-height: 38px;
  display: inline-block;
  min-width: 141px;
}
.business-personal2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-27xl);
}
.company-navigation1 {
  width: 654px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-6xl);
}
.brand-footer1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.instagram-icon27,
.linkedin-icon27,
.social-media-icons15,
.youtube-icon27 {
  height: 48px;
  width: 48px;
  position: relative;
  min-height: 48px;
}
.instagram-icon27,
.linkedin-icon27,
.youtube-icon27 {
  object-fit: cover;
}
.social-links-wrapper,
.social-links8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-links8 {
  flex-direction: row;
  gap: var(--gap-base);
}
.social-links-wrapper {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.overview81,
.overview82,
.overview83 {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  text-shadow: 1px 0 0 rgba(158, 158, 158, 0.25),
    0 1px 0 rgba(158, 158, 158, 0.25), -1px 0 0 rgba(158, 158, 158, 0.25),
    0-1px 0 rgba(158, 158, 158, 0.25);
  min-width: 85px;
}
.overview82,
.overview83 {
  text-shadow: 1px 0 0 rgba(153, 132, 132, 0.25),
    0 1px 0 rgba(153, 132, 132, 0.25), -1px 0 0 rgba(153, 132, 132, 0.25),
    0-1px 0 rgba(153, 132, 132, 0.25);
}
.overview83 {
  text-shadow: 1px 0 0 rgba(136, 118, 118, 0.25),
    0 1px 0 rgba(136, 118, 118, 0.25), -1px 0 0 rgba(136, 118, 118, 0.25),
    0-1px 0 rgba(136, 118, 118, 0.25);
}
.site-overview,
.social-icons12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.site-overview {
  width: 654px;
  justify-content: flex-start;
  gap: var(--gap-27xl-5);
}
.social-icons12 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.management81 {
  text-shadow: 1px 0 0 rgba(153, 145, 145, 0.25),
    0 1px 0 rgba(153, 145, 145, 0.25), -1px 0 0 rgba(153, 145, 145, 0.25),
    0-1px 0 rgba(153, 145, 145, 0.25);
}
.management81,
.management82,
.management83 {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 118px;
}
.management82 {
  color: var(--color-whitesmoke);
  text-shadow: 1px 0 0 rgba(193, 176, 176, 0.25),
    0 1px 0 rgba(193, 176, 176, 0.25), -1px 0 0 rgba(193, 176, 176, 0.25),
    0-1px 0 rgba(193, 176, 176, 0.25);
}
.management83 {
  text-shadow: 1px 0 0 rgba(147, 132, 132, 0.25),
    0 1px 0 rgba(147, 132, 132, 0.25), -1px 0 0 rgba(147, 132, 132, 0.25),
    0-1px 0 rgba(147, 132, 132, 0.25);
}
.management-parent5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-27xl-5);
}
.savings81,
.savings82,
.savings83 {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  text-shadow: 1px 0 0 rgba(159, 138, 138, 0.25),
    0 1px 0 rgba(159, 138, 138, 0.25), -1px 0 0 rgba(159, 138, 138, 0.25),
    0-1px 0 rgba(159, 138, 138, 0.25);
  min-width: 70px;
}
.savings82,
.savings83 {
  text-shadow: 1px 0 0 rgba(142, 125, 125, 0.25),
    0 1px 0 rgba(142, 125, 125, 0.25), -1px 0 0 rgba(142, 125, 125, 0.25),
    0-1px 0 rgba(142, 125, 125, 0.25);
}
.savings83 {
  text-shadow: 1px 0 0 rgba(137, 118, 118, 0.25),
    0 1px 0 rgba(137, 118, 118, 0.25), -1px 0 0 rgba(137, 118, 118, 0.25),
    0-1px 0 rgba(137, 118, 118, 0.25);
}
.savings-parent5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-27xl-5);
}
.company-info3,
.management-savings12,
.social-media8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.management-savings12 {
  width: 654px;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.company-info3,
.social-media8 {
  align-items: flex-end;
}
.social-media8 {
  align-self: stretch;
  gap: var(--gap-4xs);
  color: var(--color-white);
}
.company-info3 {
  flex: 1;
  gap: var(--gap-4xl);
}
.footer-content21 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-3xs-5) 0 var(--padding-lg);
  box-sizing: border-box;
  max-width: 100%;
}
.finacialproductscoordinatordas,
.navigation-footer27 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.navigation-footer27 {
  margin-right: -4px;
  align-self: stretch;
  background-color: var(--color-darkslateblue);
  padding: var(--padding-12xs-5) var(--padding-43xl-5) var(--padding-18xl)
    var(--padding-41xl);
  box-sizing: border-box;
  gap: var(--gap-10xl-5);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--body-text);
}
.finacialproductscoordinatordas {
  width: 100%;
  position: relative;
  background: linear-gradient(179.34deg, #4575ad, #1c3047);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1150px) {
  .header-5 {
    flex-wrap: wrap;
  }
  .product-details {
    flex: 1;
  }
  .loan {
    flex-wrap: wrap;
    padding: var(--padding-xl);
    box-sizing: border-box;
  }
  .debitcard-inner {
    flex: 1;
  }
  .debitcard2 {
    padding: var(--padding-xl);
    box-sizing: border-box;
  }
  .debitcard2,
  .social-icons12 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .debit-card1,
  .loans4 {
    font-size: var(--font-size-17xl);
  }
  .brand-footer1 {
    flex-wrap: wrap;
  }
  .navigation-footer27 {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .header-6 {
    display: none;
  }
  .frame-parent61 {
    flex-wrap: wrap;
  }
  .depositeimage-icon1 {
    min-width: 100%;
  }
  .product-actions {
    flex-wrap: wrap;
    gap: var(--gap-10xl);
  }
  .product-details {
    min-width: 100%;
  }
  .loan {
    gap: var(--gap-lgi);
  }
  .cardimage-icon {
    min-width: 100%;
  }
  .addclientbutton-group {
    flex-wrap: wrap;
    gap: var(--gap-10xl);
  }
  .debitcard-inner {
    min-width: 100%;
  }
  .debitcard2 {
    gap: var(--gap-lgi);
  }
  .financial-products {
    gap: var(--gap-25xl);
  }
  .features-overview {
    padding-bottom: var(--padding-38xl);
    box-sizing: border-box;
  }
  .business-personal2,
  .site-overview {
    flex-wrap: wrap;
    gap: var(--gap-4xl);
  }
  .management-parent5,
  .savings-parent5 {
    gap: var(--gap-4xl);
  }
}
@media screen and (max-width: 450px) {
  .digi-bank54 {
    font-size: var(--body-text-size);
  }
  .customer-support28,
  .resources54,
  .services30 {
    font-size: var(--font-size-base);
  }
  .welcome-banner2 {
    padding-bottom: var(--padding-38xl);
    box-sizing: border-box;
  }
  .loans4 {
    font-size: var(--font-size-8xl);
  }
  .boost-your-financial {
    font-size: var(--body-text-size);
  }
  .addclientbutton5,
  .addclientbutton6 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .addclientbutton6 {
    flex: 1;
  }
  .debit-card1 {
    font-size: var(--font-size-8xl);
  }
  .simply-click-on {
    font-size: var(--body-text-size);
  }
  .addclientbutton7,
  .addclientbutton8 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .addclientbutton8 {
    flex: 1;
  }
  .financial-products {
    gap: var(--gap-3xl);
  }
  .digi-bank55 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .business27,
  .resources55 {
    font-size: var(--body-text-size);
    line-height: 30px;
  }
  .resource-footer {
    flex: 1;
  }
  .personal27 {
    font-size: var(--body-text-size);
    line-height: 30px;
  }
  .management81,
  .management82,
  .management83,
  .overview81,
  .overview82,
  .overview83,
  .savings81,
  .savings82,
  .savings83 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
}
