body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body-text: Inter;
  --font-nunito-sans: "Nunito Sans";

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-6xl: 25px;
  --body-text-size: 20px;
  --font-size-base: 16px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --font-size-11xl: 30px;
  --font-size-lg: 18px;
  --font-size-31xl: 50px;
  --font-size-26xl: 45px;
  --font-size-8xl: 27px;
  --font-size-17xl: 36px;
  --font-size-15xl: 34px;
  --font-size-45xl: 64px;
  --font-size-19xl: 38px;
  --font-size-32xl: 51px;
  --font-size-mid: 17px;
  --font-size-14xl: 33px;
  --font-size-7xl: 26px;

  /* Colors */
  --color-darkslateblue: #163e6c;
  --color-white: #fff;
  --color-whitesmoke: #f9f3f3;
  --color-black: #000;
  --color-steelblue-100: #5982a6;
  --color-steelblue-200: #335b80;
  --color-steelblue-300: #274670;
  --color-gainsboro-400: #e0e0e0;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(217, 217, 217, 0.7);
  --color-gainsboro-300: rgba(217, 217, 217, 0.65);
  --color-gray-700: #828282;
  --color-gray-100: #7b7c7c;
  --color-gray-200: #132945;
  --color-gray-300: #211d1d;
  --color-gray-800: #0f1114;
  --color-gray-400: #030303;
  --color-gray-500: rgba(0, 0, 0, 0.35);
  --color-gray-600: rgba(10, 9, 9, 0.45);
  --color-darkslategray-100: #36495a;
  --color-darkslategray-300: #363636;
  --color-darkslategray-200: #333;
  --color-silver-100: #c3c4c7;
  --color-silver-200: #bdbfc0;
  --color-cornflowerblue: #52a9fa;
  --color-snow-100: #fffcfc;
  --color-snow-200: #fff9f9;
  --color-dimgray-100: #545252;
  --color-dimgray: rgba(115, 115, 115, 0.99);
  --color-blue: #1905ff;
  --color-crimson: #f22d39;

  /* Spacing */
  --spacing-s: 24px;

  /* Gaps */
  --gap-10xl-5: 29.5px;
  --gap-4xl: 23px;
  --gap-5xl: 24px;
  --gap-27xl-5: 46.5px;
  --gap-xl: 20px;
  --gap-base: 16px;
  --gap-27xl: 46px;
  --gap-75xl-5: 94.5px;
  --gap-28xl: 47px;
  --gap-62xl: 81px;
  --gap-21xl: 40px;
  --gap-6xl: 25px;
  --gap-12xs-1: 0.1px;
  --gap-3xl-3: 22.3px;
  --gap-5xs-4: 7.4px;
  --gap-29xl: 48px;
  --gap-77xl: 96px;
  --gap-4xs-1: 8.1px;
  --gap-3xs: 10px;
  --gap-85xl: 104px;
  --gap-17xl: 36px;
  --gap-54xl: 73px;
  --gap-16xl: 35px;
  --gap-50xl: 69px;
  --gap-9xs: 4px;
  --gap-10xl: 29px;
  --gap-9xl: 28px;
  --gap-2xl: 21px;
  --gap-23xl: 42px;
  --gap-8xs-3: 4.3px;
  --gap-3xl: 22px;
  --gap-lgi: 19px;
  --gap-19xl: 38px;
  --gap-9xs-3: 3.3px;
  --gap-25xl: 44px;
  --gap-mid: 17px;
  --gap-22xl: 41px;
  --gap-63xl: 82px;
  --gap-12xs-3: 0.3px;
  --gap-4xs: 9px;
  --gap-174xl: 193px;
  --gap-41xl: 60px;
  --gap-64xl: 83px;
  --gap-mini: 15px;
  --gap-15xl: 34px;
  --gap-39xl: 58px;
  --gap-lg: 18px;
  --gap-12xl: 31px;
  --gap-158xl: 177px;
  --gap-69xl: 88px;
  --gap-42xl: 61px;
  --gap-11xl: 30px;
  --gap-30xl: 49px;
  --gap-20xl: 39px;
  --gap-13xl-4: 32.4px;
  --gap-14xl: 33px;
  --gap-13xl: 32px;
  --gap-51xl: 70px;
  --gap-78xl: 97px;
  --gap-31xl-7: 50.7px;
  --gap-5xs: 8px;
  --gap-32xl: 51px;
  --gap-31xl: 50px;
  --gap-132xl: 151px;
  --gap-56xl: 75px;
  --gap-145xl: 164px;
  --gap-36xl: 55px;
  --gap-8xl: 27px;
  --gap-26xl: 45px;
  --gap-7xl: 26px;
  --gap-130xl: 149px;
  --gap-18xl: 37px;
  --gap-55xl: 74px;
  --gap-49xl: 68px;
  --gap-65xl: 84px;
  --gap-33xl: 52px;
  --gap-59xl: 78px;
  --gap-34xl: 53px;
  --gap-44xl: 63px;
  --gap-24xl: 43px;
  --gap-31xl-5: 50.5px;
  --gap-10xl-4: 29.4px;
  --gap-47xl: 66px;
  --gap-sm: 14px;
  --gap-7xs: 6px;
  --gap-122xl: 141px;
  --gap-58xl: 77px;

  /* Paddings */
  --padding-12xs-5: 0.5px;
  --padding-43xl-5: 62.5px;
  --padding-41xl: 60px;
  --padding-11xl: 30px;
  --padding-12xl: 31px;
  --padding-3xs-5: 9.5px;
  --padding-lg: 18px;
  --padding-12xs: 1px;
  --padding-xl: 20px;
  --padding-59xl: 78px;
  --padding-14xl-4: 33.4px;
  --padding-9xl: 28px;
  --padding-21xl: 40px;
  --padding-11xs: 2px;
  --padding-19xl: 38px;
  --padding-24xl: 43px;
  --padding-3xs: 10px;
  --padding-lgi: 19px;
  --padding-6xs: 7px;
  --padding-xs-7: 11.7px;
  --padding-mini: 15px;
  --padding-8xs: 5px;
  --padding-16xl: 35px;
  --padding-9xs-8: 3.8px;
  --padding-19xl-2: 38.2px;
  --padding-9xs: 4px;
  --padding-base: 16px;
  --padding-7xs-2: 5.2px;
  --padding-mid: 17px;
  --padding-sm-8: 13.8px;
  --padding-5xs: 8px;
  --padding-16xl-1: 35.1px;
  --padding-17xl-1: 36.1px;
  --padding-7xs: 6px;
  --padding-94xl-4: 113.4px;
  --padding-111xl: 130px;
  --padding-2xl: 21px;
  --padding-37xl: 56px;
  --padding-22xl: 41px;
  --padding-46xl: 65px;
  --padding-13xl: 32px;
  --padding-44xl: 63px;
  --padding-2xs: 11px;
  --padding-30xl-2: 49.2px;
  --padding-5xs-9: 7.9px;
  --padding-10xs: 3px;
  --padding-24xl-7: 43.7px;
  --padding-xs-5: 11.5px;
  --padding-15xl-1: 34.1px;
  --padding-28xl-2: 47.2px;
  --padding-27xl-1: 46.1px;
  --padding-22xl-7: 41.7px;
  --padding-sm-5: 13.5px;
  --padding-4xs: 9px;
  --padding-21xl-5: 40.5px;
  --padding-78xl: 97px;
  --padding-58xl: 77px;
  --padding-26xl: 45px;
  --padding-15xl: 34px;
  --padding-56xl: 75px;
  --padding-6xl: 25px;
  --padding-17xl: 36px;
  --padding-5xl: 24px;
  --padding-7xl: 26px;
  --padding-18xl: 37px;
  --padding-35xl: 54px;
  --padding-16xl-6: 35.6px;
  --padding-8xl: 27px;
  --padding-28xl-6: 47.6px;
  --padding-29xl: 48px;
  --padding-xs: 12px;
  --padding-10xl: 29px;
  --padding-30xl: 49px;
  --padding-43xl: 62px;
  --padding-23xl: 42px;
  --padding-3xl: 22px;
  --padding-40xl: 59px;
  --padding-11xs-8: 1.8px;
  --padding-14xl: 33px;
  --padding-20xl: 39px;
  --padding-smi: 13px;
  --padding-28xl: 47px;
  --padding-85xl: 104px;
  --padding-53xl: 72px;
  --padding-80xl: 99px;
  --padding-33xl: 52px;
  --padding-4xl: 23px;
  --padding-12xl-9: 31.9px;
  --padding-45xl: 64px;
  --padding-sm: 14px;
  --padding-27xl: 46px;
  --padding-54xl: 73px;
  --padding-60xl: 79px;
  --padding-81xl: 100px;
  --padding-69xl-2: 88.2px;
  --padding-38xl: 57px;
  --padding-25xl: 44px;
  --padding-49xl: 68px;
  --padding-32xl: 51px;
  --padding-base-5: 15.5px;
  --padding-4xl-8: 23.8px;
  --padding-1190xl-8: 1209.8px;
  --padding-767xl: 786px;
  --padding-492xl: 511px;
  --padding-51xl: 70px;
  --padding-47xl: 66px;
  --padding-34xl: 53px;
  --padding-66xl: 85px;
  --padding-819xl: 838px;
  --padding-526xl: 545px;
  --padding-335xl: 354px;
  --padding-52xl: 71px;
  --padding-74xl: 93px;
  --padding-38xl-5: 57.5px;
  --padding-69xl: 88px;
  --padding-xl-9: 20.9px;
  --padding-31xl: 50px;
  --padding-229xl: 248px;

  /* Border radiuses */
  --br-21xl: 40px;
  --br-3xs: 10px;
  --br-31xl: 50px;
  --br-6xl: 25px;
  --br-11xl: 30px;
  --br-5xs: 8px;
  --br-9xs: 4px;
}
