.header-1-child14 {
    height: 69px;
    width: 1530px;
    position: relative;
    background-color: var(--color-darkslategray-100);
    display: none;
    max-width: 100%;
    z-index: 1;
}

.user-navigation-child {
    height: 35px;
    width: 115.8px;
    position: relative;
    border-radius: var(--br-31xl);
    background-color: var(--color-steelblue-200);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    display: none;
}

.about15 {
    flex: 1;
    position: relative;
    text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
    z-index: 2;
}

.user-navigation {
    width: 116.8px;
    border-radius: var(--br-31xl);
    background-color: var(--color-steelblue-200);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: var(--padding-7xs) 0 var(--padding-7xs) var(--padding-11xl);
    z-index: 1;
}

.navigation-items7 {
    width: 186.9px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.navigation-items-child2 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-31xl);
    background-color: var(--color-steelblue-200);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 115.8px;
    height: 35px;
    z-index: 1;
}

.contact-us16 {
    position: absolute;
    top: 8px;
    left: 13.7px;
    display: inline-block;
    width: 173.2px;
    text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
    white-space: nowrap;
    z-index: 2;
}

.navigation-items8 {
    height: 35px;
    width: 186.9px;
    position: relative;
    margin-left: -43.5px;
}

.navigation-items-child3 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-31xl);
    width: 115.8px;
    height: 35px;
    z-index: 1;
}

.location15 {
    position: absolute;
    top: 8px;
    left: 24.4px;
    display: inline-block;
    width: 119.1px;
    text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
    z-index: 2;
}

.navigation-items9 {
    height: 35px;
    width: 187px;
    position: relative;
    margin-left: -43.5px;
    color: var(--color-snow-100);
}

.navigation-items-child4 {
    height: 35px;
    width: 115.8px;
    position: relative;
    border-radius: var(--br-31xl);
    display: none;
}

.login18 {
    position: relative;
    font-size: var(--font-size-base);
    font-family: var(--body-text);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
    min-width: 44.6px;
    z-index: 2;
}

.navigation-items10 {
    cursor: pointer;
    border: 0 solid var(--color-black);
    padding: var(--padding-5xs) var(--padding-16xl-1) var(--padding-5xs) var(--padding-17xl-1);
    background-color: var(--color-steelblue-200);
    border-radius: var(--br-31xl);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1;
    margin-left: -43.5px;
}

    .navigation-items10:hover {
        background-color: var(--color-steelblue-100);
        border: 1px solid var(--color-darkslategray-200);
        box-sizing: border-box;
    }

.header-115,
.header-2-child13 {
    box-sizing: border-box;
    max-width: 100%;
}

.header-115 {
    align-self: stretch;
    background-color: var(--color-darkslategray-100);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: var(--padding-mid) var(--padding-sm-8);
    top: 0;
    z-index: 99;
    position: sticky;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--body-text);
}

.header-2-child13 {
    height: 96px;
    width: 1530px;
    position: relative;
    background-color: var(--color-silver-200);
    border: 1px solid var(--color-cornflowerblue);
    display: none;
}

.accountbalancerounded-icon15 {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    flex-shrink: 0;
    debug_commit: 1de1738;
    z-index: 1;
}

.balance-area1 {
    align-self: stretch;
    width: 98.8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-7xs-2);
    box-sizing: border-box;
}

.brand-area-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
    width: 233.8px;
    height: 44px;
    z-index: 1;
}

.digi-bank30 {
    margin: 0;
    position: absolute;
    top: 6px;
    left: 51px;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    width: 183.8px;
    height: 53px;
    text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
    z-index: 2;
}

.brand-area {
    height: 59px;
    flex: 1;
    position: relative;
    flex-shrink: 0;
    debug_commit: 1de1738;
}

.header-structure {
    height: 75px;
    width: 341px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-5xs-4);
    max-width: 100%;
}

.service-area-child {
    height: 42px;
    width: 155.1px;
    position: relative;
    border-radius: var(--br-31xl);
    background: linear-gradient(90deg, #335b80, #0a121a);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    display: none;
}

.services18 {
    height: 31.2px;
    flex: 1;
    position: relative;
    display: inline-block;
    text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
    z-index: 2;
}

.service-and-resource-links,
.service-area {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.service-area {
    align-self: stretch;
    border-radius: var(--br-31xl);
    background: linear-gradient(90deg, #335b80, #0a121a);
    border: 1px solid var(--color-black);
    flex-direction: row;
    padding: var(--padding-6xs) var(--padding-12xs) 0 var(--padding-12xl);
    z-index: 1;
}

.service-and-resource-links {
    width: 171.1px;
    flex-direction: column;
    padding: 0 var(--padding-base) 0 0;
    box-sizing: border-box;
}

.service-and-resource-links-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-31xl);
    width: 155.1px;
    height: 42px;
    z-index: 1;
}

.resources30 {
    position: absolute;
    top: 9px;
    left: 23.4px;
    display: inline-block;
    width: 147.7px;
    height: 31.2px;
    text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
    z-index: 2;
}

.service-and-resource-links1 {
    height: 42px;
    width: 171.1px;
    position: relative;
}

.customer-support-area-item {
    height: 44px;
    width: 316.6px;
    position: relative;
    border-radius: var(--br-3xs);
    display: none;
}

.customer-support16 {
    width: 278.4px;
    height: 31.2px;
    position: relative;
    font-size: var(--body-text-size);
    font-family: var(--body-text);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    flex-shrink: 0;
    text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
    z-index: 2;
}

.customer-support-wrapper4 {
    width: 206.1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
}

.viberwhite-icon15 {
    height: 35px;
    width: 37.2px;
    position: relative;
    object-fit: contain;
    min-height: 35px;
    z-index: 2;
}

.customer-support-area2,
.navigation-options6 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.customer-support-area2 {
    cursor: pointer;
    border: 0 solid var(--color-gray-400);
    padding: var(--padding-8xs) var(--padding-16xl) var(--padding-9xs-8) var(--padding-19xl-2);
    background-color: transparent;
    flex: 1;
    border-radius: var(--br-3xs);
    background: linear-gradient(90deg, #335b80, #0a121a);
    box-sizing: border-box;
    min-width: 206px;
    z-index: 1;
}

.navigation-options6 {
    align-self: stretch;
    gap: var(--gap-3xl-3);
}

.content4,
.header-215,
.navigation-area2 {
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
}

.navigation-area2 {
    width: 703.4px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-mini);
    font-size: var(--body-text-size);
}

.content4,
.header-215 {
    flex-direction: row;
}

.header-215 {
    flex: 1;
    background-color: var(--color-silver-200);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--color-cornflowerblue);
    align-items: flex-end;
    justify-content: space-between;
    padding: var(--padding-3xs) var(--padding-lgi) var(--padding-6xs) var(--padding-xs-7);
    gap: var(--gap-xl);
}

.content4 {
    align-self: stretch;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-52xl);
    text-align: left;
    font-size: var(--font-size-6xl);
    color: var(--color-white);
    font-family: var(--body-text);
}

.loan-applications2 {
    margin: 0;
    width: 724px;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.02em;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
    max-width: 100%;
}

.loan-applications-header {
    width: 1346px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
}

.frame-child49 {
    width: 724px;
    height: 909px;
    position: relative;
    background-color: var(--color-white);
    display: none;
    max-width: 100%;
}

.loanid {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    font-weight: 500;
    display: inline-block;
    min-width: 67px;
    z-index: 1;
}

.loan-i-d-header {
    width: 85px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-lg) 0 0;
    box-sizing: border-box;
}

.clientid1,
.loan-type,
.status {
    width: 76px;
    position: relative;
    line-height: 150%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 76px;
    z-index: 1;
}

.loan-type,
.status {
    width: 100px;
    min-width: 100px;
}

.status {
    width: 62px;
    min-width: 62px;
}

.loan-table-header {
    width: 528px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 var(--padding-12xs) 0 0;
    box-sizing: border-box;
    gap: var(--gap-xl);
    max-width: 100%;
}

.table-divider {
    margin-left: -94px;
    width: 726px;
    height: 1px;
    position: relative;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    max-width: 115%;
    flex-shrink: 0;
    z-index: 1;
}

.loan-applications-table,
.rectangle-parent16 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
}

.rectangle-parent16 {
    align-self: stretch;
    background-color: var(--color-white);
    padding: var(--padding-xl) 0 var(--padding-819xl) var(--padding-74xl);
    gap: var(--gap-xl);
}

.loan-applications-table {
    flex: 1;
    padding: var(--padding-12xs) 0 0;
    min-width: 471px;
}

.search2 {
    position: relative;
    font-size: var(--body-text-size);
    line-height: 150%;
    font-weight: 500;
    font-family: var(--body-text);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    min-width: 67px;
}

.button10,
.search-button-area1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.button10 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-9xs) var(--padding-base-5);
    background-color: var(--color-black);
    border-radius: var(--br-11xl);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    flex-direction: row;
}

    .button10:hover,
    .button11:hover,
    .button12:hover {
        background-color: var(--color-darkslategray-200);
    }

.search-button-area1 {
    flex-direction: column;
    padding: var(--padding-12xs) 0 0;
}

.field49 {
    height: 40px;
    flex: 1;
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--color-gainsboro-400);
    box-sizing: border-box;
    min-width: 281px;
    max-width: 100%;
}

.search-and-input-area,
.search-area {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.search-area {
    flex: 1;
    gap: var(--gap-2xl);
}

.search-and-input-area {
    align-self: stretch;
    padding: 0 var(--padding-7xl) 0 var(--padding-5xl);
    box-sizing: border-box;
}

.first-name7,
.label47 {
    font-weight: 500;
    position: relative;
    line-height: 150%;
}

.first-name7 {
    align-self: stretch;
}

.label47 {
    width: 100%;
    border: 0;
    outline: 0;
    font-family: var(--body-text);
    font-size: var(--font-size-base);
    background-color: transparent;
    height: 24px;
    flex: 1;
    color: var(--color-gray-700);
    text-align: left;
    display: inline-block;
    min-width: 140px;
    padding: 0;
}

.field50,
.form32,
.input16 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.field50 {
    align-self: stretch;
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--color-gainsboro-400);
    flex-direction: row;
    padding: var(--padding-3xs) var(--padding-mini) var(--padding-11xs);
}

.form32,
.input16 {
    padding: 0;
    box-sizing: border-box;
}

.input16 {
    height: 68px;
    width: 265px;
    flex-direction: column;
    gap: var(--gap-5xs);
}

.form32 {
    width: 246px;
    height: 65px;
    flex-direction: row;
    flex-wrap: wrap;
}

.client-id {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    font-weight: 500;
}

.jane12344 {
    margin: 0;
}

.label48 {
    height: 48px;
    flex: 1;
    position: relative;
    line-height: 150%;
    font-weight: 500;
    display: inline-block;
}

.field51 {
    align-self: stretch;
    height: 40px;
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--color-gainsboro-400);
    flex-direction: row;
    padding: var(--padding-xs) var(--padding-mini) 0;
    color: var(--color-gray-700);
}

.field51,
.form33,
.input17 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
}

.input17 {
    width: 295px;
    flex-direction: column;
    padding: 0 0 var(--padding-5xs);
    gap: var(--gap-5xs);
}

.form33 {
    width: 231px;
    height: 65px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.label49,
.loan-type1 {
    font-weight: 500;
    position: relative;
    line-height: 150%;
}

.loan-type1 {
    align-self: stretch;
}

.label49 {
    width: 100%;
    border: 0;
    outline: 0;
    font-family: var(--body-text);
    font-size: var(--font-size-base);
    background-color: transparent;
    height: 24px;
    flex: 1;
    color: var(--color-gray-700);
    text-align: left;
    display: inline-block;
    min-width: 158px;
    padding: 0;
}

.field52,
.loan-detail-fields {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.field52 {
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--color-gainsboro-400);
    flex-direction: row;
    padding: var(--padding-3xs) var(--padding-mini) var(--padding-11xs);
}

.loan-detail-fields {
    flex-direction: column;
    gap: var(--gap-5xs);
}

.amount,
.label50 {
    font-weight: 500;
    position: relative;
    line-height: 150%;
}

.amount {
    align-self: stretch;
}

.label50 {
    width: 100%;
    border: 0;
    outline: 0;
    font-family: var(--body-text);
    font-size: var(--font-size-base);
    background-color: transparent;
    height: 24px;
    flex: 1;
    color: var(--color-gray-700);
    text-align: left;
    display: inline-block;
    min-width: 103px;
    padding: 0;
}

.field53 {
    align-self: stretch;
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--color-gainsboro-400);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-mini) var(--padding-11xs);
}

.loan-detail-fields1 {
    width: 203px;
    gap: var(--gap-5xs);
}

.loan-detail-fields1,
.loan-details-inputs,
.name-inputs1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.loan-details-inputs {
    align-self: stretch;
    gap: var(--gap-14xl);
}

.name-inputs1 {
    flex: 1;
    gap: var(--gap-34xl);
    min-width: 192px;
}

.label51,
.last-name7 {
    width: 204px;
    position: relative;
    line-height: 150%;
    font-weight: 500;
    display: inline-block;
}

.label51 {
    width: 100%;
    border: 0;
    outline: 0;
    font-family: var(--body-text);
    font-size: var(--font-size-base);
    background-color: transparent;
    height: 24px;
    flex: 1;
    color: var(--color-gray-700);
    text-align: left;
    min-width: 140px;
    padding: 0;
}

.field54 {
    align-self: stretch;
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--color-gainsboro-400);
    flex-direction: row;
    padding: var(--padding-3xs) var(--padding-mini) var(--padding-11xs);
}

.field54,
.input-fields-area,
.last-name-input-area {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.last-name-input-area {
    width: 265px;
    flex-direction: column;
    gap: var(--gap-5xs);
}

.input-fields-area {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 var(--padding-24xl);
    gap: var(--gap-22xl);
}

.approve {
    position: relative;
    font-size: var(--body-text-size);
    line-height: 150%;
    font-weight: 500;
    font-family: var(--body-text);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    min-width: 81px;
}

.button11 {
    margin-top: 0px;
    cursor: pointer;
    border: 0;
    padding: var(--padding-9xs) var(--padding-xl);
    background-color: var(--color-black);
    width: 180px;
    height: 50px;
    border-radius: var(--br-5xs);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    padding: 5px 10px;
}

.not-approve {
    position: relative;
    font-size: var(--body-text-size);
    line-height: 150%;
    font-weight: 500;
    font-family: var(--body-text);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    min-width: 121px;
}

.button12 {
    margin-top: 30px;
    cursor: pointer;
    border: 0;
    padding: var(--padding-9xs) var(--padding-xl);
    background-color: var(--color-black);
    width: 630px;
    height: 50px;
    border-radius: var(--br-5xs);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 27px;
    padding: 5px 10px;
}

.action-buttons {
    width: 328px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-27xl);
}

.action-area2,
.action-buttons,
.search-and-filter-area {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}

.action-area2 {
    width: 580px;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
}

.search-and-filter-area {
    width: 601px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-65xl);
    min-width: 601px;
    text-align: left;
    font-size: var(--font-size-base);
}

.loan-applications-content {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-59xl);
    max-width: 100%;
    font-size: var(--body-text-size);
}

.content-area2,
.loan-application-structure {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
}

.loan-application-structure {
    width: 1403px;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--gap-49xl);
}

.content-area2 {
    flex-direction: row;
    align-items: flex-start;
    padding: 0 var(--padding-40xl) var(--padding-38xl);
    box-sizing: border-box;
    text-align: center;
    font-size: var(--font-size-45xl);
    color: var(--color-black);
    font-family: var(--body-text);
}

.items15 {
    width: 187px;
    height: 24px;
    display: none;
}

.divider-icon15 {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.digi-bank31 {
    margin: 0;
    width: 154px;
    position: relative;
    font-size: inherit;
    line-height: 150%;
    font-weight: 700;
    font-family: inherit;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.business15 {
    flex: 1;
    display: inline-block;
    min-width: 141px;
}

.business15,
.resources31 {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 38px;
    font-weight: 700;
    font-family: inherit;
}

.resource-link-area {
    flex: 0.8936;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
    min-width: 141px;
}

.personal15 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    line-height: 38px;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    min-width: 141px;
}

.footer-links-area,
.user-types2 {
    display: flex;
    align-items: flex-start;
}

.user-types2 {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--gap-27xl);
}

.footer-links-area {
    width: 654px;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 var(--padding-12xs);
    box-sizing: border-box;
    max-width: 100%;
    font-size: var(--font-size-6xl);
}

.brand-footer-area1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 100%;
    gap: var(--gap-xl);
}

.instagram-icon15,
.linkedin-icon15,
.social-media-icons7,
.youtube-icon15 {
    height: 48px;
    width: 48px;
    position: relative;
    min-height: 48px;
}

.instagram-icon15,
.linkedin-icon15,
.youtube-icon15 {
    object-fit: cover;
}

.social-icons-area2,
.social-media-icons-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.social-media-icons-group {
    flex-direction: row;
    gap: var(--gap-base);
}

.social-icons-area2 {
    flex-direction: column;
    padding: var(--padding-10xs) 0 0;
}

.overview45,
.overview46,
.overview47 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    line-height: 150%;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    text-shadow: 1px 0 0 rgba(158, 158, 158, 0.25), 0 1px 0 rgba(158, 158, 158, 0.25), -1px 0 0 rgba(158, 158, 158, 0.25), 0-1px 0 rgba(158, 158, 158, 0.25);
    min-width: 85px;
}

.overview46,
.overview47 {
    text-shadow: 1px 0 0 rgba(153, 132, 132, 0.25), 0 1px 0 rgba(153, 132, 132, 0.25), -1px 0 0 rgba(153, 132, 132, 0.25), 0-1px 0 rgba(153, 132, 132, 0.25);
}

.overview47 {
    text-shadow: 1px 0 0 rgba(136, 118, 118, 0.25), 0 1px 0 rgba(136, 118, 118, 0.25), -1px 0 0 rgba(136, 118, 118, 0.25), 0-1px 0 rgba(136, 118, 118, 0.25);
}

.overview-links-area1,
.social-area2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
}

.overview-links-area1 {
    width: 654px;
    justify-content: flex-start;
    gap: var(--gap-27xl-5);
}

.social-area2 {
    align-self: stretch;
    justify-content: space-between;
    gap: var(--gap-xl);
}

.management45 {
    text-shadow: 1px 0 0 rgba(153, 145, 145, 0.25), 0 1px 0 rgba(153, 145, 145, 0.25), -1px 0 0 rgba(153, 145, 145, 0.25), 0-1px 0 rgba(153, 145, 145, 0.25);
}

.management45,
.management46,
.management47 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    line-height: 150%;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    min-width: 118px;
}

.management46 {
    color: var(--color-whitesmoke);
    text-shadow: 1px 0 0 rgba(193, 176, 176, 0.25), 0 1px 0 rgba(193, 176, 176, 0.25), -1px 0 0 rgba(193, 176, 176, 0.25), 0-1px 0 rgba(193, 176, 176, 0.25);
}

.management47 {
    text-shadow: 1px 0 0 rgba(147, 132, 132, 0.25), 0 1px 0 rgba(147, 132, 132, 0.25), -1px 0 0 rgba(147, 132, 132, 0.25), 0-1px 0 rgba(147, 132, 132, 0.25);
}

.management-savings8 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-27xl-5);
}

.savings45,
.savings46,
.savings47 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    line-height: 150%;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    text-shadow: 1px 0 0 rgba(159, 138, 138, 0.25), 0 1px 0 rgba(159, 138, 138, 0.25), -1px 0 0 rgba(159, 138, 138, 0.25), 0-1px 0 rgba(159, 138, 138, 0.25);
    min-width: 70px;
}

.savings46,
.savings47 {
    text-shadow: 1px 0 0 rgba(142, 125, 125, 0.25), 0 1px 0 rgba(142, 125, 125, 0.25), -1px 0 0 rgba(142, 125, 125, 0.25), 0-1px 0 rgba(142, 125, 125, 0.25);
}

.savings47 {
    text-shadow: 1px 0 0 rgba(137, 118, 118, 0.25), 0 1px 0 rgba(137, 118, 118, 0.25), -1px 0 0 rgba(137, 118, 118, 0.25), 0-1px 0 rgba(137, 118, 118, 0.25);
}

.management-savings9 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-27xl-5);
}

.footer-structure1,
.management-and-savings-area,
.social-and-overview-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
}

.management-and-savings-area {
    width: 654px;
    align-items: flex-start;
    gap: var(--gap-5xl);
}

.footer-structure1,
.social-and-overview-area {
    align-items: flex-end;
}

.social-and-overview-area {
    align-self: stretch;
    gap: var(--gap-4xs);
    color: var(--color-white);
}

.footer-structure1 {
    flex: 1;
    gap: var(--gap-4xl);
}

.footer-content11 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-3xs-5) 0 var(--padding-lg);
    box-sizing: border-box;
    max-width: 100%;
}

.loan-applications1,
.navigation-footer15 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navigation-footer15 {
    align-self: stretch;
    background-color: var(--color-darkslateblue);
    align-items: flex-end;
    padding: var(--padding-12xs-5) var(--padding-43xl-5) var(--padding-18xl) var(--padding-41xl);
    box-sizing: border-box;
    gap: var(--gap-10xl-5);
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    font-family: var(--body-text);
}


.table-scroll {
    max-height: 800px; /* Adjust the height as needed */
    overflow-y: auto;
    overflow-x: hidden;
    width: 700px;
}

    .table-scroll table {
        border-collapse: collapse;
        width: 100%;
    }

    .table-scroll th,
    .table-scroll td {
        padding: 8px;
        text-align: left;
    }

    .table-scroll th {
        background-color: #6B696B;
        color: white;
        position: sticky;
        top: 0;
        z-index: 1;
    }

.loan-applications1 {
    width: 100%;
    position: relative;
    background: linear-gradient(174.44deg, #4575ad, #173e6c);
    align-items: flex-start;
    line-height: normal;
    letter-spacing: normal;
}

@media screen and (max-width: 1250px) {
    .header-215 {
        flex-wrap: wrap;
    }

    .search-and-filter-area {
        flex: 1;
    }

    .loan-applications-content {
        flex-wrap: wrap;
    }

    .content-area2 {
        padding-bottom: var(--padding-18xl);
        box-sizing: border-box;
    }
}

@media screen and (max-width: 1050px) {
    .rectangle-parent16 {
        padding-left: var(--padding-27xl);
        padding-bottom: var(--padding-526xl);
        box-sizing: border-box;
    }

    .brand-footer-area1,
    .social-area2 {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 750px) {
    .header-115 {
        display: none;
    }

    .navigation-options6 {
        flex-wrap: wrap;
    }

    .loan-applications2 {
        font-size: var(--font-size-32xl);
    }

    .loan-applications-table {
        min-width: 100%;
    }

    .search-area {
        flex-wrap: wrap;
    }

    .input-fields-area {
        flex-wrap: wrap;
        gap: var(--gap-xl);
    }

    .search-and-filter-area {
        gap: var(--gap-23xl);
        min-width: 100%;
    }

    .loan-applications-content {
        gap: var(--gap-20xl);
    }

    .loan-application-structure {
        gap: var(--gap-15xl);
    }

    .content-area2 {
        padding-left: var(--padding-10xl);
        padding-right: var(--padding-10xl);
        padding-bottom: var(--padding-5xl);
        box-sizing: border-box;
    }

    .overview-links-area1,
    .user-types2 {
        flex-wrap: wrap;
        gap: var(--gap-4xl);
    }

    .management-savings8,
    .management-savings9 {
        gap: var(--gap-4xl);
    }

    .navigation-footer15 {
        padding-left: var(--padding-11xl);
        padding-right: var(--padding-12xl);
        box-sizing: border-box;
    }
}

@media screen and (max-width: 450px) {
    .digi-bank30 {
        font-size: var(--body-text-size);
    }

    .customer-support16,
    .resources30,
    .services18 {
        font-size: var(--font-size-base);
    }

    .loan-applications2 {
        font-size: var(--font-size-19xl);
    }

    .clientid1,
    .loan-type,
    .loanid,
    .status {
        font-size: var(--font-size-base);
        line-height: 24px;
    }

    .loan-table-header {
        flex-wrap: wrap;
    }

    .rectangle-parent16 {
        padding-left: var(--padding-xl);
        padding-bottom: var(--padding-335xl);
        box-sizing: border-box;
    }

    .search2 {
        font-size: var(--font-size-base);
        line-height: 24px;
    }

    .loan-details-inputs {
        gap: var(--gap-base);
    }

    .name-inputs1 {
        gap: var(--gap-7xl);
    }

    .input-fields-area {
        padding-bottom: var(--padding-9xl);
        box-sizing: border-box;
    }

    .approve {
        font-size: var(--font-size-base);
        line-height: 24px;
    }

    .action-buttons {
        gap: var(--gap-4xl);
    }

    .search-and-filter-area {
        gap: var(--gap-2xl);
    }

    .loan-applications-content {
        gap: var(--gap-lgi);
    }

    .loan-application-structure {
        gap: var(--gap-mid);
    }

    .digi-bank31 {
        font-size: var(--font-size-lgi);
        line-height: 29px;
    }

    .business15,
    .resources31 {
        font-size: var(--body-text-size);
        line-height: 30px;
    }

    .resource-link-area {
        flex: 1;
    }

    .personal15 {
        font-size: var(--body-text-size);
        line-height: 30px;
    }

    .management45,
    .management46,
    .management47,
    .overview45,
    .overview46,
    .overview47,
    .savings45,
    .savings46,
    .savings47 {
        font-size: var(--font-size-lgi);
        line-height: 29px;
    }
}